.App {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.App .ant-select-selection {
  border: none;
  border-bottom: 2px solid;
}

.option-email {
  margin-left: 15px;
  color: grey
}


